body{
    --primary_color: #250902;
    --secondary_color: #38040e;
    --tercer_color: #640d14;
    --cuarto_color: #800e13;
    --quinto_color: #ad2831;
    
    background: var(--secondary_color);
    margin: 0;
    padding: 0;
    font-family: "quicksand";
}

/* Nav */
.contain-nav{
    display: flex;
    width: 100%;
}

.nav{
    display: flex;
    position: fixed;
    width: 100dvw;
    z-index: 10;
    animation-name: nav_bar;
    animation-duration: 5s;
}

.nav  img{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 30px;
}

.contact-info {
    display: none; /* Oculta el span por defecto */
    color: #fff;
    width: auto;
    margin: 10px;
}

.nav > img:hover + .contact-info {
    display: block; /* Muestra el span al presionar la imagen */
}

.nav-ul{
    direction: rtl;
    display: flex;
    width: 100%;
    list-style: none;
}

.nav-items{ 
    margin: 5px;
}

.nav-items > a{ 
    text-decoration: none;
    color: #fff;
}

/* Nav end */

/* Main section */


body > .container{
    box-sizing: border-box;
}

.container{
    min-width: 50dvw;
    margin: 12dvh 25dvw;
    margin-top: 5dvh;
    position: relative;
    animation-name: introduccion;
    animation-duration: 3s;
    animation-iteration-count: both;
    container-type: inline-size;
    container-name: container_img-text;
}

.container-items{
    width: 100%;
    height: 100%;
    border-radius: 10px ;
    display: flex;
    position: relative;
}

.container__img{
    display: flex;
    object-fit: cover;
    position: relative;
    border-radius: 10px ;
}

.container__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Gradiente negro con opacidad */
    z-index: 0; /* Asegura que el gradiente esté por encima de la imagen */
    border-radius: 100%;
}
.container__img > h1{
        position: absolute;
        top: 50%; /* Mueve el texto al 50% de la altura del contenedor */
        left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
        transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
        color: white; /* Cambia el color del texto según sea necesario */
        font-size: 3rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

.container__img > h2{
    position: absolute;
    top: 58%; /* Mueve el texto al 50% de la altura del contenedor */
    left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
    color: #a3a3a3; /* Cambia el color del texto según sea necesario */
    visibility: visible;
}

.container__img > img{
    width: 100%;
    height: 100%;
    border-radius: 100% ;
}

/* Main section end */

/* galery section */



.galeria-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%,1fr));
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    gap: 15px;
    margin: 10px;
}

.galeria-container__img > img{
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
    animation-name: desvanecer;
    animation-timeline: --desvanecer_grid;
    view-timeline: --desvanecer_grid block;
    animation-range: cover 0% contain 10%;
    transition-duration: 1s;
}

.galeria-container__img.fullscreen {
    width: 50dvw;
}

/*animaciones*/

@keyframes nav_bar{

0%{
    opacity: 0;
}

50%{
    opacity: 1;
    filter: blur(100%);
}

100%{
    filter: blur(0%);
}
}

@keyframes introduccion{

    0%{
        opacity: 0;
    }
    
    50%{
    }
    
    100%{
        opacity: 1;
    }
    }

@keyframes desvanecer{
    0%{
        opacity: 0;
        filter: blur(5px);
    }

    100%{
        opacity: 1;
        filter: blur(0px);
    }
}

/*Queries*/
@media  (max-width: 1440px){
    .container__img > h1{
        position: absolute;
        top: 50%; /* Mueve el texto al 50% de la altura del contenedor */
        left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
        transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
        color: white; /* Cambia el color del texto según sea necesario */
        font-size: 6rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

.container__img > h2{
    position: absolute;
    top: 65%; /* Mueve el texto al 50% de la altura del contenedor */
    left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
    color: #a3a3a3; /* Cambia el color del texto según sea necesario */
    visibility: visible;
    font-size: 2rem; 
}
 }

@media  (max-width: 1024px){
    .container__img > h1{
        position: absolute;
        top: 50%; /* Mueve el texto al 50% de la altura del contenedor */
        left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
        transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
        color: white; /* Cambia el color del texto según sea necesario */
        font-size: 5rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

.container__img > h2{
    position: absolute;
    top: 68%; /* Mueve el texto al 50% de la altura del contenedor */
    left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
    color: #a3a3a3; /* Cambia el color del texto según sea necesario */
    visibility: visible;
    font-size: 1.5rem; 
}
 }

@media  (max-width: 768px){
    .container__img > h1{
        position: absolute;
        top: 50%; /* Mueve el texto al 50% de la altura del contenedor */
        left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
        transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
        color: white; /* Cambia el color del texto según sea necesario */
        font-size: 2.8rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

.container__img > h2{
    position: absolute;
    top: 70%; /* Mueve el texto al 50% de la altura del contenedor */
    left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
    color: #a3a3a3; /* Cambia el color del texto según sea necesario */
    visibility: visible;
    font-size: 0.8rem; 
}

.galeria-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%,1fr));
    gap: 5px;
    margin: 10px;
}

}

@media (max-width: 425px){
    .container__img > h1{
        position: absolute;
        top: 50%; /* Mueve el texto al 50% de la altura del contenedor */
        left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
        transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
        color: white; /* Cambia el color del texto según sea necesario */
        font-size: 2rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

.container__img > h2{
    position: absolute;
    top: 70%; /* Mueve el texto al 50% de la altura del contenedor */
    left: 50%; /* Mueve el texto al 50% de la anchura del contenedor */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado */
    color: #a3a3a3; /* Cambia el color del texto según sea necesario */
    visibility: visible;
    font-size: 0.5rem; 
}

.galeria-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
    gap: 15px;
    margin: 10px;
}

}
